.startCountingButton {
    width:22%;
}

.mainDiv {
    border: 3px solid #FFFFFF;
    width: 60%;
    max-width: 700px;
    margin: 20px auto;
    padding:20px;
}

.loadingDiv {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.loadingGif {
    margin-left: 20px;

}

.customAnswer {
    width: 50%;
}

.op-selector {
    width: 60px;
    display: inline-flex;
    margin-left: 10px;
}

#op-value {
    width:70px;
}